:host {
    width: 100%;
    height: 100%;;
    grid-area: 1 / 1 /7/17;

}

.client-form {
    width: 100%;
    height: 70%;
    font-size: 1em;
}

.client-form__container {
    width: 100%;
    height: 12%;
    margin-bottom: 1rem;
    text-align: start;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.client-form__input, .client-form__select {
    width: 60%;
    height: 100%;
    border: 1px solid #c9c9c9;
    display: inline-block;
    border-radius: 3px;
}

.client-form__label {
    width: 40%;
}

.client-form__button {
    width: 100%;
}

.status-message {
    margin-top: 10px;
    color: rgb(163, 247, 242);
  }