@import 'best-practices.scss';

@font-face {
    font-family: 'CustomFont';
    src: url('../public/fonts/ZonaPro-Thin.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  
  html, body {
    margin: 0;
    padding: 0;
  
    font-family: 'CustomFont' !important;
  }
  
  
  
  .container {
    max-width: 100vw;
    max-height: 100vh;

    width: 100vw;
    height: 100vh;
  
    padding: 1rem;
  
    overflow: hidden;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    width: 5%;
    height: 100%;
  
    border: 1px solid black;
    border-radius: 1rem;
  
    background-color: #1d1d1d;
    /* background-color: #5ad521; */
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .menu > a i {
    color: white;
    margin: 2.2rem 0 2.2rem 0;
  }
  
  .menu > a i:hover {
    scale: 1.2;
  }
  
  .component-container {
    width: 95%;
    height: 100%;
  
    display: grid;
    grid-template-columns: repeat(33, 1fr);
    grid-template-rows: repeat(24, 1fr);
  
  
    border: 1px solid black;
  }
  
  .element-1 {
    grid-area: 1 / 1 / 13 / 14;
    /* background-color: yellow; */
  }
  
  .element-2 {
    grid-area: 1 / 14 / 7 / 24;
    /* background-color: rgb(30, 190, 38); */
  }
  
  .element-3 {
    grid-area: 7 / 14 / 13 / 24;
    /* background-color: rgb(247, 59, 209); */
  }
  
  .element-4 {
    grid-area: 13 / 1 / 25 / 35;
  
    /* padding: 1rem; */
  
    overflow-y: scroll;
    /* background-color: rgb(62, 23, 146); */
  }
  
  .element {
    margin: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }
  
  .search {
    width: calc(100% - 8rem);
    height: auto;
    display: inline-block;
    vertical-align: middle;
  }
  
  
  
  :root {
    --rad: .4rem;
    --dur: .3s;
    --color-dark: #2f2f2f;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --height: 2.2rem;
    --btn-width: 4rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  /* button */
  .search__form {
    position: relative;
    width: 100%;
    background: var(--color-brand);
    border-radius: var(--rad);
    border: 1px solid #c9c9c9;
  }
  .search__input, .search__button {
    height: var(--height);
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    border: 0;
    color: var(--color-dark);
    font-size: 1.2rem;
    font-weight: 500;
  }
  .search__input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  .search__button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  .search__input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
      display: block;
    }
  }
  .search__label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }
  
  
  
  
  
  
  
  
  
//   /* *************** Table *************** */
  
//   .table {
//     border-collapse: separate;
//     // max-width: 100%;
//     width: 100%;
//     border-spacing: 0;
//   }
  
//   .table__head {
//     width: 100%;
//     position: sticky;
//     top: 0;
//     background-color: #fff;
//     z-index: 1;
//   }
  
//   .table__row {
//     width: 100%;
//     height: 70px;
//   }
  
//   .table__row:hover {
//     background-color: #c9c9c9;
//   }
  
//   .table__row-header {
//     height: 50px;
//   }
  
  
//   .table__row-header-text {
//     text-align: start;
//     font-size: 1.5em;
//     padding-left: 1rem;
//   }
  
//   .table__header-cell {
//     min-width: 10vw;
//     z-index: 1;
//   }
  
//   .table__header-cell_profile-image {
//     min-width: 5vw;
//   }
  
//   .table__header-cell_profile-name {
//     min-width: 14vw;
//   }
  
//   /* .table__data-cell {
//   } */
  
//   .table__header-cell, .table__data-cell {
//     vertical-align: middle;
//     text-align: center;
  
//     padding: 1px;
//     border-right: 0px;
//     border-left: 0px;
//     // border-bottom: 1px solid #e0e0e0;
//   }
  
//   .table__data-cell_jc {
//     text-align: justify;
//   }
  
//   .table__data-cell_small-text {
//     font-size: 0.8em;
//   }
  
//   .table__data-cell-image {
//     max-width: 100%;
//     max-height: 100%;
  
//     display: inline-block;
//   }
  
//   .table__controls {
//     width: 100%;
//     height: 10vh;
//     border-radius: inherit;
//     text-align: center;
//     vertical-align: middle;
//   }
  
//   /* *************** Table *************** */
  
  
  .element-1 > canvas, .element-5 > canvas {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    /* border: 1px solid red; */
  }
  
  .element-5 {
    grid-area: 1 / 24 / 13 / 35;
    /* background-color: palegreen; */
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /* CSS */
  .button-4 {
    width: 7rem;
    appearance: none;
    /* background-color: #ffffff; */
    background-color: #24292E;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    box-sizing: border-box;
    /* color: #24292E; */
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    /* font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; */
    /* font-family: inherit; */
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: .9rem;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  .button-4:hover {
    background-color: #0c0d0e;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .button-4:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 29, 32, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .button-4:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .button-4:focus {
    outline: 1px transparent;
  }
  
  .button-4:before {
    display: none;
  }
  
  .button-4:-webkit-details-marker {
    display: none;
  }
  
  
  .filter {
    height: 2.2rem;
    width: 2.2rem;
    display: inline-block;
    text-align: center;
  }
  
  .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  //"node_modules/bootstrap/dist/css/bootstrap.min.css",
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
